<% include partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome to Movie Recommender System</h1>
                <p>We would like to recommend movies for you based on your ratings!</p>
                <p>
                    <!--<a class="btn btn-primary btn-large" href="/hunting_grounds/new">Add A New Hunting Ground</a>-->
                </p>                
            </div>
        </header>   
        
        <div class="row" style="display:flex; flex-wrap: wrap;">
            <% toBeDisplaied.forEach(function(movie_title_object){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src= "<%= movie_title_object.imageUrl %>" >
                        <div class="caption">
                            <h4><%= movie_title_object.title %></h4>
                        </div>
                    </div>
                </div>
            <% }); %>  
        </div>
    </div>   

<% include partials/footer %>